<div class="bg-primary6 px-5 h-[70px] flex items-center justify-between">
    <div class="flex flex-row items-center gap-2">
      <svg-icon src="assets/images/logo.svg"></svg-icon>
      <a class="text-yellow3 font-bold text-xl">SISDM</a>
    </div>
    <ul class="list-none flex gap-6 text-xl text-neutral2">
      <li><a>Accueil</a></li>
      <li>
        <a class="flex gap-2">
        <svg-icon src="assets/images/chevron-down.svg" svgClass="inline"> </svg-icon>
        <span>Docteurs</span>
        </a>
      </li>
      <li><a>Centre d'aide</a></li>
    </ul>

    <div class="flex gap-2">
      <app-button text="S'inscrire" color="text-neutral10" bg="bg-yellow3"></app-button>
      <app-button text="Se Connecter" color="text-neutral2" bg=""></app-button>
    </div>
</div>
