<div class="bg-primary6">
  <div class="px-5 h-[70px] flex items-center justify-between in-content">
      <app-brand></app-brand>
      <ul class="flex gap-6 text-xl list-none text-neutral2">
        <li><a>Accueil</a></li>
        <li>
          <a class="flex gap-2">
          <svg-icon src="assets/images/chevron-down.svg" svgClass="inline"> </svg-icon>
          <span>Docteurs</span>
          </a>
        </li>
        <li><a>Centre d'aide</a></li>
      </ul>

      <div class="flex gap-2">
        <app-button text="S'inscrire" color="text-neutral10" bg="bg-yellow3" hover="bg-neutral2"></app-button>
        <app-button text="Se Connecter" color="text-neutral2" bg="" hover="text-yellow3"></app-button>
      </div>
  </div>
</div>
