<div class="bg-light">
  <app-header></app-header>
</div>
<section class="main-bg h-[95vh]  flex flex-col items-center justify-center">
  <div class="bg-white p-[10rem] flex flex-col gap-6">
     <p class="text-6xl font-bold self-start">SISDM</p>
     <p class="text-3xl text-primary5 self-end">Une Solution en ligne pour vos besoins médicaux</p>
     <div class="relative w-full flex justify-center">
       <app-button text="Rejoignez Nous" class="absolute -bottom-10"></app-button>
     </div>
  </div>
</section>
<section>

</section>
