@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background: linear-gradient(270deg, #8BBDF0 4.55%, #3174B8 48.93%, #3174B8 93.3%);
  mix-blend-mode: multiply;
}

.in-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
